@font-face {
    font-family: 'JoseSans';
    src: url('JosefinSans-Regular.ttf');
}

/* General Reset */
body {
    font-family: JoseSans;
    margin: 0;
    padding: 0;
    background: #f2f4f7;
    color: #333;
    text-align: center;
}

/* Container Styling */
.container {
    width: 90%;
    max-width: 900px;
    margin: auto;
    padding: 40px 20px;
}

/* Header Section */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    background: url('AVDistribution_BGPattern.png');
    background-size: cover;
    background-position: center;
    min-height: 250px;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Logo Styling */
.logo {
    max-height: 200px;
    margin-right: 20px;
}

/* Header Text */
.header-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header-title {
    font-size: 2.7rem;
    font-weight: 700;
    margin: 0;
}

.header-subtitle {
    font-size: 2.0rem;
    font-weight: 400;
    margin-top: 5px;
}

/* Section Styling */
section {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .1), 0px 8px 16px rgba(0, 0, 0, .1);
    margin-bottom: 20px;
}

/* Product Styling */
.product {
    display: flex;
    align-items: center;
    gap: 15px;
    background: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.product:hover {
    transform: translateY(-5px);
}

.product img {
    width: 100px;
    height: 100px;
    background: #737373;
    border-radius: 8px;
}

/* Footer */
footer {
    padding: 20px;
    font-size: 0.9em;
    background: url('AVDistribution_BGPattern.png');
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
}

/* Responsive Design */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .header-text {
        align-items: center;
    }

    .logo {
        margin-bottom: 10px;
    }

    .product {
        flex-direction: column;
        text-align: center;
    }
}